table{
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}
th{
    border: 2px solid black;
    margin: 10px;
    background-color: #7ba388;
    padding: 10px;
    font-size: large;
    color: rgb(14, 7, 39);
}
td{
    border: 2px solid black;
    text-align:center;
    background-color: #c1dbed;
    padding: 5px;
}
caption{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
    color: #1f1f1f;
}
.hora{
    font-weight: bold;
    background-color: rgba(181, 177, 177, 0.842);
    font-size: large;
    color: rgb(74, 1, 1);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
td:hover{
    background-color: #b6c1f8;
}